/* Universal */
html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(254, 254, 254, 1);
}

h1 {
    font-size: 3.81rem;
    font-weight: 700;
    line-height: 4.50rem;
    -webkit-text-stroke: 0.063rem rgba(0, 73, 75, 1);
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 3.00rem;
    font-weight: 600;
    line-height: 3.50rem;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.17rem;
}

.primary-button {
    background: rgba(0, 117, 119, 1);
    border: 0.13rem solid rgba(0, 73, 75, 1);
    border-radius: 2.50rem;
    color: rgba(254, 254, 254, 1);
    box-shadow: 0.31rem 0.31rem 0.63rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.primary-button:hover {
    background: rgba(0, 73, 75, 1);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1)
}

/* Top Nav */
nav {
    display: flex;
    justify-content: center;
    background: rgba(254, 254, 254, 1);
    width: 100%;
    max-width: 90rem;
    position: sticky;
    z-index: 1;
    top: 0;
    margin: 0 auto;
}

nav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 0.94rem 3rem;
}

nav .row {
    display: flex;
    gap: 1.31rem;

}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.81rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.63rem 0.75rem;
    border-radius: 0.5rem;
}

.nav-links a:hover {
    color: rgba(254, 254, 254, 1);
    background: rgba(0, 73, 75, 1);
}

.row button {
    padding: 0.75rem 1.5rem;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/landing-page/header/header-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 90rem;
    color: rgba(254, 254, 254, 1);
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 14.38rem 0;
    gap: 3.81rem;
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
}

.sub-header h2 {
    -webkit-text-stroke: 0.063rem rgba(0, 73, 75, 1);
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.50rem;
}

header button {
    padding: 0.94rem 0;
    width: 15.625rem;
}

.button-header {
    font-size: 1.95rem;
    line-height: 2.29rem;
}

/* Insurance we accept */
.insurance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    background: rgba(254, 254, 254, 1);
    margin: 0 auto;
}

.insurance .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 3rem;
    gap: 2.25rem;
}

.insurance-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3.29rem;
}

.insurance-logos img {
    padding: 1.656rem 1.5rem;
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

.insurance-logos img:hover {
    box-shadow: 0.25rem 0.31rem 0.5rem rgba(0, 0, 0, 0.53);
}

/* Therapy Benefits */
.therapy-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    background: rgba(0, 117, 119, 1);
    margin: 0 auto;
}

.therapy-benefits .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 3rem;
    gap: 2.25rem;
}

.therapy-benefits h2 {
    color: rgba(254, 254, 254, 1);
}

.therapy-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 20.38rem;
    gap: 0.75rem;
    background: rgba(254, 254, 254, .95);
    border-radius: 0.75rem;
    padding: 0.75rem;
}

/* How it works */
.how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    background: rgba(254, 254, 254, 1);
    margin: 0 auto;
}

.how-it-works .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 3rem;
    gap: 2.25rem;
}

.how-it-works .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 19.44rem;
}

.step img {
    max-width: 100%;
}

.step h3 {
    text-align: center;
}

.step p {
    text-align: center;
    margin-top: 0.38rem;
}

.how-it-works button {
    padding: 0.94rem 4.63rem;
    font-size: 1.94rem;
}

/* Reviews */
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    background: rgba(0, 117, 119, 1);
    margin: 0 auto;
}

.reviews .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 3rem;
    gap: 3rem;
}

.reviews-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.63rem;
    color: rgba(254, 254, 254, 1);
}

.reviews-title img {
    max-width: 12.31rem;
}

.reviews-cards-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.reviews-card {
    display: flex;
    flex-direction: column;
    max-width: 16.44rem;
    background: rgba(254, 254, 254, 1);
    padding: 1.5rem;
    border-radius: 0.63rem;
    gap: 1.5rem;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.reviews-name {
    font-weight: 600;
}

.reviews-handle {
    font-size: .81rem;
    font-weight: 300;
    margin-top: 0.50rem; 
}

.news-sources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.75rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    background: rgba(254, 254, 254, 1);
    margin: 0 auto;
}

footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;
    padding: 3rem 3rem 2.25rem;
    gap: 3rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-media-icons {
    display: flex;
    gap: 1.5rem;
}

#footer-logo {
    margin-top: 3rem;
}

.footer-nav-links {
    display: flex;
    gap: 6.38rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer-bottom-row {
    justify-content: center;
    gap: 4.44rem;
    padding: 1.5rem 0 0;
    border-top: 0.063rem solid rgba(0, 73, 75, 1);
}